Repository AET-DevOps25/team-git-it-together, pull requests merged in 2025-07, with the labels that each got.

#67 66 genai improve course generation quality
  genai/.gitignore
  genai/requirements.txt
  genai/src/main.py
  genai/src/services/rag/course_generator.py
  genai/src/services/scheduler/README.md
  genai/src/services/scheduler/__init__.py
  genai/src/services/scheduler/scheduler_service.py
  genai/src/services/scheduler/schemas.py
Labels: enhancement, genai, feature

#69 68 genai enhance course generation api confirmation chat and crawling
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/controller/courses/CourseController.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/dto/response/utils/EmbedResult.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/dto/response/utils/PromptResponse.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/service/courses/CourseService.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/service/courses/CourseServiceImpl.java
Labels: enhancement, genai, feature

#70 39 client integrate learning path generation feature with client
  README.md
  client/nginx.conf
  client/nginx.conf.template
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/AIChatAssistant.tsx
  client/src/components/CoursePreview.tsx
  client/src/components/Footer.tsx
  client/src/components/MarkdownCodeBlock.tsx
  client/src/components/Navbar.tsx
  client/src/components/SyntaxHighlighter.tsx
  client/src/components/ui/button.tsx
  client/src/contexts/AuthContext.tsx
  client/src/contexts/AuthProvider.tsx
  client/src/index.css
  client/src/main.tsx
  client/src/pages/About.tsx
  client/src/pages/AiCenter.tsx
  client/src/pages/CookiePolicy.tsx
  client/src/pages/CourseDetail.tsx
  client/src/pages/Courses.tsx
  client/src/pages/Dashboard.tsx
  client/src/pages/Index.tsx
  client/src/pages/LessonPage.tsx
  client/src/pages/Login.tsx
  client/src/pages/PrivacyPolicy.tsx
  client/src/pages/Profile.tsx
  client/src/pages/Signup.tsx
  client/src/pages/TermsOfService.tsx
  client/src/services/aiChat.service.ts
  client/src/services/course.service.ts
  docker-compose.yml
  genai/src/main.py
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/controller/courses/CourseController.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/dto/request/course/CourseRequest.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/dto/request/course/LearningPathRequest.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/dto/response/course/CourseResponse.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/dto/response/course/CourseSummaryResponse.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/dto/response/utils/EmbedResult.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/dto/response/utils/PromptResponse.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/mapper/course/CourseMapper.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/model/course/Course.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/repository/course/CourseRepository.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/service/courses/CourseService.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/service/courses/CourseServiceImpl.java
Labels: enhancement, client

#73 [QA] Add Unit Tests for Server Services and Controllers
  .github/workflows/build-and-test-server.yml
  server/skillforge-course/build.gradle
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/controller/courses/CourseController.java
  server/skillforge-course/src/test/java/com/gitittogether/skillForge/server/course/CourseControllerTest.java
  server/skillforge-course/src/test/java/com/gitittogether/skillForge/server/course/CourseServiceImplTest.java
  server/skillforge-course/src/test/java/com/gitittogether/skillForge/server/course/SkillForgeCourseServiceTests.java
  server/skillforge-course/src/test/java/com/gitittogether/skillForge/server/course/config/TestConfig.java
  server/skillforge-course/src/test/resources/application-test.yml
  server/skillforge-gateway/build.gradle
  server/skillforge-gateway/src/test/java/com/gitittogether/skillforge/server/gateway/JwtUtilTest.java
  server/skillforge-gateway/src/test/java/com/gitittogether/skillforge/server/gateway/LoggingGlobalFilterTest.java
  server/skillforge-gateway/src/test/java/com/gitittogether/skillforge/server/gateway/SkillForgeApiGatewayApplicationTests.java
  server/skillforge-gateway/src/test/resources/application-test.yml
  server/skillforge-user/build.gradle
  server/skillforge-user/src/test/java/com/gitittogether/skillForge/server/user/SkillForgeUserServiceTests.java
  server/skillforge-user/src/test/java/com/gitittogether/skillForge/server/user/UserControllerTest.java
  server/skillforge-user/src/test/java/com/gitittogether/skillForge/server/user/UserServiceImplTest.java
  server/skillforge-user/src/test/java/com/gitittogether/skillForge/server/user/config/TestConfig.java
  server/skillforge-user/src/test/resources/application-test.yml
Labels: server, testing

#79 feat(course): implement PATCH support for partial course updates and improve issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/issue_de.md
  .github/ISSUE_TEMPLATE/issue_en.md
  client/src/services/course.service.ts
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/controller/courses/CourseController.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/dto/request/course/CourseUpdateRequest.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/service/courses/CourseService.java
  server/skillforge-course/src/main/java/com/gitittogether/skillForge/server/course/service/courses/CourseServiceImpl.java
  server/skillforge-course/src/test/java/com/gitittogether/skillForge/server/course/CourseControllerTest.java
  server/skillforge-course/src/test/java/com/gitittogether/skillForge/server/course/CourseServiceImplTest.java
Labels: bug, server
